body{
	background: #e6e6f7;
}
.ingd{
	margin-top: 5px;
	font-size: 43px;
	
}

#datainfo,#sprofile{
	display: none;
}
input[name='nextStep']{
display: none;

}
ul li{
	list-style: none;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	background: blue;
	padding: 5px 30px;
	text-decoration: none;	
}