#wrap{
	margin: 0 auto;
	width: 960px;
	}
.question{
	width: 700px;
	height: 50px;
	float: left;
	}
#age{
	float: left;
	padding: 0 10px;
	}
#sex{
	width: 100px;
	float: left;
	padding: 0 10px;
	}
.clear{
	clear: both;
	}
#ans{
	width: 960px;
	margin-bottom: 40px;

	}
#yos{
	width: 250px;
	float: left;
	padding: 0 10px;
	text-align: center;
	}
#regs{
	width: 250px;
	float: left;
	padding: 0 10px;
	}
.formers{
	width: 260px;
	height: 50px;
	float: left;
	}
.formers, .question{
	margin-top: 10px;
	}
h1, h2{
	text-align: center;
	}
h2{
	margin-bottom: 50px;
	}
#holder{
	margin-bottom: 30px;
	}
footer{
	padding: 20px 0;
	margin: 20px 0;
	clear: both;
	}
	